<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help | Dashboard</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body> -->
  {% extends 'header.html' %}
  {% block titulo %}
    Dashboard
  {% endblock %}
  {% block container %}
  <h1>Olá, {{current_user.nome}}</h1>
  <script>
    class MobileNavbar {
      constructor(mobileMenu, navList, navLinks) {
        this.mobileMenu = document.querySelector(mobileMenu);
        this.navList = document.querySelector(navList);
        this.navLinks = document.querySelectorAll(navLinks);
        this.activeClass = "active";
    
        this.handleClick = this.handleClick.bind(this);
      }
    
      animateLinks() {
        this.navLinks.forEach((link, index) => {
          link.style.animation
            ? (link.style.animation = "")
            : (link.style.animation = `navLinkFade 0.5s ease forwards ${
                index / 7 + 0.3
              }s`);
        });
      }
    
      handleClick() {
        this.navList.classList.toggle(this.activeClass);
        this.mobileMenu.classList.toggle(this.activeClass);
        this.animateLinks();
      }
    
      addClickEvent() {
        this.mobileMenu.addEventListener("click", this.handleClick);
      }
    
      init() {
        if (this.mobileMenu) {
          this.addClickEvent();
        }
        return this;
      }
    }
    
    const mobileNavbar = new MobileNavbar(
      ".mobile-menu",
      ".nav-list",
      ".nav-list li",
    );
    mobileNavbar.init();
  </script>
{% endblock %}
<!-- </body>
</html> -->