{% extends 'header.html' %}
  {% block titulo %}
    Demanda
  {% endblock %}
  {% block container %}
  <div class='contentTable'>
    <table class="rTable">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Matéria</th>
          <th scope="col">Observações</th>
          <th scope="col">Requisitos</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for d in demanda %}
        <tr>
          <th scope="row">{{d.id}}</th>
          <td>{{d.materia}}</td>
          <td>{{d.observacoes}}</td>
          <td>{{d.requisitos}}</td>
          {% if current_user.admin %}
          <td><a href="/demanda/update/{{d.id}}" class='edit-btn'>Editar</a><a href="/demanda/delete/{{d.id}}" class='del-btn'>Excluir</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}