{% extends 'header.html' %}
  {% block titulo %}
    Demanda
  {% endblock %}
  {% block container %}
  <form action="/demanda/create" method="POST">
    Matéria: <input type="text" name="materia"><br/>
    Observações: <input type="text" name="observacoes"><br/>
    Requisitos: <input type="text" name="requisitos"><br/>
    Vagas Matutino: <input type="number" name='vagas_matutino' /><br />
    Vagas Vespertino: <input type="number" name='vagas_vespertino' /><br />
    Vagas Noturno: <input type="number" name='vagas_noturno' /><br />
    Vagas Flexível: <input type="number" name='vagas_flexivel' /><br />
    Bolsas Matutino: <input type="number" name='bolsas_matutino' /><br />
    Bolsas Vespertino: <input type="number" name='bolsas_vespertino' /><br />
    Bolsas Noturno: <input type="number" name='bolsas_noturno' /><br />
    Bolsas Flexível: <input type="number" name='bolsas_flexivel' /><br />
    <input type="submit" name="enviar">
  </form> 
{% endblock %}