{% extends 'header.html' %}
  {% block titulo %}
    Inscrição
  {% endblock %}
  {% block container %}
  <form action="/inscricao/create" method="POST">
    Nome: <input type="text" name="nome"><br/>
    CPF: <input type="text" name="cpf"><br/>
    E-mail: <input type="text" name="email"><br/>
    Turno: <input type="text" name='turno' /><br />
    Matrícula: <input type="text" name='matricula' /><br />
    Telefone: <input type="number" name='telefone' /><br />
    <input type="submit" name="enviar">
  </form> 
{% endblock %}