{% extends 'header.html' %}
  {% block titulo %}
    Inscrição
  {% endblock %}
  {% block container %}
  <form action="/inscricao/update/{{inscricao.id}}" method="POST">
    Nome: <input type="text" name="nome" value="{{inscricao.nome}}"><br/>
    CPF: <input type="text" name="cpf" value="{{inscricao.cpf}}"><br/>
    E-mail: <input type="text" name="email" value="{{inscricao.email}}"><br/>
    Turno: <input type="text" name='turno' value="{{inscricao.turno}}"/><br />
    Matrícula: <input type="text" name='matricula' value="{{inscricao.matricula}}"/><br />
    Telefone: <input type="number" name='telefone' value="{{inscricao.telefone}}" /><br />
    <input type="submit" name="Atualizar">
  </form> 
{% endblock %}