{% extends 'header.html' %}
  {% block titulo %}
    Usuário
  {% endblock %}
  {% block container %}
  <div class='contentTable'>
    <table class="rTable">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Matrícula</th>
          <th scope="col">E-mail</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        {% for u in usuarios %}
        <tr>
          <th scope="row">{{u.id}}</th>
          <td>{{u.nome}}</td>
          <td>{{u.matricula}}</td>
          <td>{{u.email}}</td>
          <td><a href="/usuarios/update/{{u.id}}" class='edit-btn'>Editar</a><a href="/usuarios/delete/{{u.id}}" class='del-btn'>Excluir</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}